@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Manrope", sans-serif;
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.scrollbar-2::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background: rgb(0 102 78 / 0.1);
}

.scrollbar-2::-webkit-scrollbar-thumb {
  background: #00664e;

  border-radius: 12px;
}

.scrollbar-2::-webkit-scrollbar-track {
  background: rgb(0 102 78 / 0.1);
  -webkit-box-shadow: inset 0 0 6px rgb(0 102 78 / 0.1);
  border-top: 2px solid #f3f4f5;
  border-bottom: 2px solid #f3f4f5;
}

@layer utilities {
  .max-width {
    @apply mx-auto max-w-7xl;
  }

  .flex-between {
    @apply flex items-center justify-between;
  }

  .flex-center {
    @apply flex items-center justify-center;
  }

  .flex-start {
    @apply flex items-start justify-center;
  }
}
